<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<bean id="userService"
		class="com.platform.service.impl.UserServiceImpl" 
		autowire="byName" />
	<bean id="logService"
		class="com.platform.service.impl.LogServiceImpl" 
		autowire="byName" />
	<bean id="operationService"
		class="com.platform.service.impl.OperationServiceImpl"
		autowire="byName" />
	<bean id="roleService"
		class="com.platform.service.impl.RoleServiceImpl"
		autowire="byName" />
	<bean id="magazineService"
		class="com.platform.service.impl.MagazineServiceImpl"
		autowire="byName" />
	<bean id="sectionService"
		class="com.platform.service.impl.SectionServiceImpl"
		autowire="byName" />
	<bean id="articleService"
		class="com.platform.service.impl.ArticleServiceImpl"
		autowire="byName" />
	<bean id="commentService"
		class="com.platform.service.impl.CommentServiceImpl"
		autowire="byName" />
	
</beans>