@charset "utf-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,img{margin:0;padding:0;}
fieldset,img{border:none;vertical-align:middle;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul,ol{list-style:none;}
select,input{vertical-align:middle;}
select,input,textarea{font-size:12px;margin:0;outline:none;resize:none;font-family:Verdana;}
table{border-collapse:collapse;}
body{color:#666;padding:0;font:12px/20px Verdana;}

.clearfix:after{content:".";display:block;height:0;overflow:hidden;clear:both;}
.clearfix{zoom:1;}
.clearit{clear:both;height:0;font-size:0;overflow:hidden;}

.c_red{color:#f00;}

a{color:#365cab;text-decoration:none;}
a:visited{color:#365cab;}
a:hover, a:active, a:focus{color:#c00;text-decoration:underline;}

body{background:#efefef url(../images/page_bg.jpg);padding-bottom:20px;}

.wrap{width:970px;margin:0 auto;}

.login_box{width:700px;border:1px solid #ccc;background:#fff;margin:100px auto 10px;}
.login_box h1{font:30px/60px "微软雅黑","黑体";padding:30px 0 10px;color:#333;text-align:center;}
.login_box form{padding:30px 0 80px 215px;}
.login_box form p{padding:8px 0;}
.login_box .item_name{display:inline-block;width:50px;color:#666;line-height:22px;}
.login_box .btn_line{padding-left:50px;}
.login_box .input_01{width:225px;}

.input_01{border:1px solid #ccc;box-shadow:1px 1px 3px rgba(0, 0, 0, 0.1) inset;padding:2px 0 0 4px;height:20px;line-height:20px;color:#666;}
.input_01:focus{border-color:#e77878;box-shadow:0 0 8px rgba(231,120,120,0.7);}

.text_01{border:1px solid #ccc;box-shadow:1px 1px 3px rgba(0, 0, 0, 0.1) inset;padding:2px 4px 0 4px;line-height:20px;color:#666;}
.text_01:focus{border-color:#e77878;box-shadow:0 0 8px rgba(231,120,120,0.7);}


.button_01{background:url(../images/m_01.png) no-repeat 0 0 #77bb00;width:42px;height:24px;*width:43px;*height:26px;border:none;color:#fff;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);cursor:pointer;}
.button_02{background:url(../images/m_03.png) no-repeat 0 0 #f2f2f2;width:42px;height:24px;*width:43px;*height:26px;border:none;color:#666;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);cursor:pointer;}

.button_03{border:1px solid #c7c7c7;background:#f1f1f1;color:#666;padding:0 10px;border-radius:4px;height:23px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType='0');background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.1, #fafafa), color-stop(1, #e8e8e8));background:-moz-linear-gradient(top, #fafafa, #e8e8e8);cursor:pointer;line-height:21px;*margin-bottom:1px;}
.button_03:hover{border-color:#999;color:#333;}

.nav{padding:10px 0;height:20px;}
.nav_path{float:left;padding-left:5px;}
.nav_info{float:right;padding-right:5px;}

.main{border:1px solid #ccc;background:url(../images/m_02.png) repeat-y 0 0 #fff;box-shadow:0 0 5px rgba(0,0,0,0.15);}
.main .m_left{width:148px;float:left;}
.main .m_right{width:750px;float:left;padding:10px 0 10px 40px;}
.main .m_right h3{font-size:14px;padding:10px 20px 0;color:#666;line-height:30px;}
.main .m_line{height:5px;overflow:hidden;border-bottom:1px dashed #ccc;margin-bottom:5px;}

.m_menu{padding:20px 0 10px;}
.m_menu li{line-height:34px;font-size:14px;text-align:center;}
.m_menu a:link,.m_menu a:visited{color:#666;}
.m_menu a:hover{color:#c00;}
.m_menu .selected{background:#dadada;font-weight:bold;color:#333;}
.m_menu .selected a:link,.m_menu .selected a:visited{color:#333;}
.m_menu .selected a:hover{color:#c00;}

.m_title{border-bottom:1px solid #ccc;padding:10px 5px;font:16px/20px "微软雅黑","黑体";}

.box_form{padding:5px 20px;}
.box_form p{float:left;width:250px;padding:8px 0 0;height:30px;}
.box_form .item_name{display:inline-block;width:60px;color:#666;line-height:22px;vertical-align:top;}
.box_form .input_01{width:145px;}
.box_form select{width:150px;}
.box_form .btn_line{float:none;clear:both;padding-left:60px;}

.user_search p{float:none;}

.wb_add_box p{float:none;width:auto;height:auto;}
.wb_add_box .text_01{width:390px;height:100px;}
.wb_add_box .wb_url{zoom:1;overflow:hidden;padding:4px 0 4px;}
.wb_add_box .wb_url .item_name{float:left;padding-top:8px;}
.wb_add_box .wb_url dd{padding:8px 0 0;}
.wb_add_box .wb_url .input_01{width:400px;}
.wb_add_box .wb_url_list{float:left;width:550px;}
.wb_add_box a:link,.wb_add_box a:visited{color:#666;}
.wb_add_box a:hover{text-decoration:none;color:#c00;}
.wb_add_box .c_red{margin-left:8px;}
.wb_url_type{width:18px;height:23px;display:inline-block;background:url(../images/m_04.png) no-repeat 0 -131px;vertical-align:middle;margin-left:8px;}
.icon_sina{background-position:0 3px;}
.icon_163{background-position:0 -30px;}
.icon_qq{background-position:0 -63px;}
.icon_sohu{background-position:0 -96px;}
.icon_people{background-position:0 -166px;}
.icon_xinhua{background-position:0 -205px;}
.wb_url_del{margin-left:8px;}

.box_table th,.box_table td{line-height:14px;padding:8px 10px;}
.box_table thead td{vertical-align:bottom;padding-bottom:0;text-align:center;}
.box_table thead th{border-bottom:1px solid #ccc;vertical-align:bottom;font-weight:bold;}
.box_table tbody th,.box_table tbody td{border-right:1px solid #ccc;}
.box_table tbody td{border-bottom:1px dotted #ccc;}
.box_table tbody tr:last-child td{border-bottom-style:solid;}
.box_table tbody a:link,.box_table tbody a:visited{color:#666;}
.box_table tbody a:hover{color:#c00;}
.box_table p{padding:10px 0;}

.user_list th{text-align:left;}
.user_list tbody th{border-left:1px solid #ccc;border-bottom:1px dotted #ccc;}
.user_list tbody tr:last-child th{border-bottom-style:solid;}

.box_real_add{border:1px solid #ccc;padding:0 10px 10px;margin:20px 20px 10px;}
.box_real_add p{padding:8px 0 8px 20px;}
.box_real_add .item_name{display:inline-block;width:70px;color:#666;line-height:22px;vertical-align:top;}
.box_real_add .input_01{width:400px;}
.box_real_add .text_01{width:400px;height:100px;resize:none;}
.box_real_add .btn_line{padding-left:90px;}

.box_real_list{border:1px solid #ccc;padding:0 10px 10px;margin:20px 20px 10px;}
.box_real_list .box_top{padding:10px 0 0 100px;height:30px;margin-top:-35px;}

.real_list{padding:10px 30px 10px 100px;}
.real_list .r_item{border-bottom:1px dashed #ccc;padding:10px 0;position:relative;zoom:1;}
.real_list .r_sTop{display:inline-block;padding:0 10px;background:#cb0000;color:#fff;}
.real_list .r_sTime{display:inline-block;padding:0 10px;background:#dfdfdf;color:#666;}
.real_list h4{font-size:12px;line-height:30px;}
.real_list h4 a:link,.real_list h4 a:visited{color:#333;}
.real_list h4 a:hover{color:#c00;}
.real_list .r_txt{padding:5px 50px 0 0;line-height:24px;}
.real_list .button_02{position:absolute;top:35px;right:0;}

.box_home{border:1px solid #ccc;padding:0 30px 20px;margin:20px 20px 10px;}
.box_home h3{padding-left:0!important;}
.box_home .input_01{width:230px;}
.box_home td{padding:5px 0;}
.box_home_btn_line{text-align:right;padding:10px 20px 10px 0;}

.pagelist{text-align:center;padding:10px 0;}
.pagelist span,.pagelist a:link,.pagelist a:visited{color:#365cab;border:1px solid #ddd;line-height:21px;padding:0 8px;display:inline-block;vertical-align:top;}
.pagelist a:hover{border-color:#365cab;box-shadow:0 0 5px #365cab;text-decoration:none;}
.pagelist span{color:#999;cursor:default;}
.pagelist span.selected{background:#365cab;border-color:#365cab;color:#fff;}


/* 日期控件 */
.dateView{font-size:12px;text-align:center;width:176px;border:1px solid #ccc;padding:2px;z-index:1010;background:#fff;display:none;}
.dateView .dv_title{overflow:hidden;zoom:1;background:#eee;line-height:22px;height:24px;padding-top:1px;}
.dateView .dv_day{border:1px solid #efefef;border-right:none;margin-top:1px;_zoom:1;overflow:hidden;}
.dateView .dv_day dd{width:24px;border-right:1px solid #efefef;line-height:22px;height:22px;float:left;background-color:#f9f9f9;}
.dateView .sun{color:#c00;}
.dateView select{margin:2px 5px 0;}
.dateView table{border-left:1px solid #efefef;text-align:center;font-family:Arial;}
.dateView td{width:24px;height:22px;line-height:22px;border-right:1px solid #efefef;border-bottom:1px solid #efefef;background:#fff;color:#999;}
.dateView a{display:block;color:#333;text-decoration:none;zoom:1;}
.dateView a:visited{color:#333;text-decoration:none;}
.dateView a:hover{color:#c00;background:#d8ebfe;}
.dateView .dv_date span{display:block;}
.dateView .today{border:1px solid #f00;line-height:20px;}
.dateView .selected{background:#c00;color:#fff!important;}
.dateView .preMonth{float:left;color:#333;text-decoration:none;font-size:9px;}
.dateView .nextMonth{float:right;color:#333;text-decoration:none;font-size:9px;}