@charset "utf-8";
body{background:url(../image/pre_bg_r.jpg) repeat 0 0;height:100%}

.ZWT_Prewiew{padding:40px 0 0 }
.ZWT_Prewiew .pre_list{zoom:1;padding:40px 0 40px 60px}
.ZWT_Prewiew .pre_item{float:left;width:168px;text-align:center;}
.ZWT_Prewiew .item_hover{background:#249ac7}
.ZWT_Prewiew .user_face{position:relative;width:156px;height:156px;text-align:center;padding:7px 6px;background:url(../image/face_bg.png) no-repeat 0 0;cursor:pointer;box-shadow:0 1px 0 0 rgba(93,95,99,.2)}
.ZWT_Prewiew .user_face .new_msg{position:absolute;right:-8px;top:-6px;z-index:5;width:21px;height:21px;background:url(../image/red.png) no-repeat 0 0;
_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../image/red.png");}
.ZWT_Prewiew .user_name{font:14px/30px "微软雅黑";color:#fff;}
.ZWT_Prewiew .pbl_wbTips{display:block;width:159px;margin:0 auto;background:url(../image/pre_arr.png) no-repeat 0 0;_background-image:url(../image/pre_arr_b8.png); height:30px;line-height:30px;padding:4px 0 0;color:#97a0b1;box-shadow:0 1px 1px rgba(0,0,0,.2);text-align: center;cursor:pointer}
.ZWT_Prewiew .pbl_wbTips:hover{background-position:0 -50px;color:#fff;text-decoration:none}

.ZWT_Prewiew .pre_ctrlPanel{display:none;position:absolute;left:6px;top:7px;z-index:1;width:156px;height:156px;
background-color:rgba( 0, 0, 0, .5 );background-color:transparent\9;filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0,startColorstr = '#80000000', endColorstr = '#80000000' )\9;}
/* for IE10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	.ZWT_Prewiew .pre_ctrlPanel{background-color:rgba( 0, 0, 0, .5 );}
}
.ZWT_Prewiew .pre_ctrlPanel a{display:inline-block;background:url(../image/zwt_s_04_d.png) no-repeat 0 0;_background-image:url(../image/zwt_s_04_d_b8.png)}
.ZWT_Prewiew .pre_ctrlPanel .btn_wbEnter:link,.ZWT_Prewiew .pre_ctrlPanel .btn_wbEnter:visited{width:116px;height:37px;text-align:center;color:#fefeff;line-height:37px;background-position:-200px 0;text-shadow:1px 1px 0 rgba(0,0,0,.2);font:14px/37px "微软雅黑"}
.ZWT_Prewiew .pre_ctrlPanel .btn_wbEnter:hover{background-position:0 0;text-decoration:none;color:#fff}
.ZWT_Prewiew .pre_ctrlPanel .btn_wbSet{line-height:200;overflow:hidden;width:32px;height:32px;background-position:-200px -50px}
.ZWT_Prewiew .pre_ctrlPanel .btn_wbSet:hover{background-position:0 -50px}
.ZWT_Prewiew .pre_ctrlPanel .btn_wbDel{line-height:200;overflow:hidden;width:32px;height:32px;background-position:-250px -50px}
.ZWT_Prewiew .pre_ctrlPanel .btn_wbDel:hover{background-position:-50px -50px}

/*各平台列表*/
.ZWT_Prewiew .pre_wbIco_Arr{padding-left:5px}
.ZWT_Prewiew .pre_wbIco_Arr .ico_item{float:left;_display:inline;position:relative;text-align:center;padding:8px 0 0;}
.ZWT_Prewiew .pre_wbIco_Arr .ico_mask{position:absolute;top:8px;left:9px;_left:8px;width:64px;height:64px;background:url(../image/ico_mask.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../image/ico_mask.png");cursor:pointer;
}
.ZWT_Prewiew .pre_wbIco_Arr .ico_item img{margin-bottom:5px;box-shadow:0 3px 4px rgba(0,0,0,.3)}
.ZWT_Prewiew .pre_wbIco_Arr .no_band:link,.ZWT_Prewiew .pre_wbIco_Arr .no_band:visited{margin:0 2px 0 10px;width:81px;height:105px;background:url(../image/icon_bg.png) no-repeat 0 0;_background-image:url(../image/icon_bg_b8.png);box-shadow:0 1px 1px rgba(0,0,0,.2)}
.ZWT_Prewiew .pre_wbIco_Arr .no_band:hover{background-position: 0 -150px;box-shadow:0 2px 4px rgba(0,0,0,.2);text-decoration:none}
.ZWT_Prewiew .pre_wbIco_Arr .no_band:hover .ico_mask{background:none;filter:none}
.ZWT_Prewiew .pre_wbIco_Arr .ico_staut{display:inline-block;cursor:pointer;padding-left:22px;margin-top:3px;height:22px;line-height:22px;color:#fff;background:url(../image/zwt_s_05_d.png) no-repeat 0 2px;_background-image:url(../image/zwt_s_05_d_b8.png)}
.ZWT_Prewiew .pre_wbIco_Arr .band:link,.ZWT_Prewiew .pre_wbIco_Arr .band:visited{background:none;margin:0 0 0 8px;width:85px;height:111px}
.ZWT_Prewiew .pre_wbIco_Arr .band:hover{background:url(../image/icon_bg.png) no-repeat 0 -300px;_background-image:url(../image/icon_bg_b8.png);text-decoration:none}
.ZWT_Prewiew .pre_wbIco_Arr .band .ico_staut{background-position:0 -52px;padding-left:27px;color:#aaafb8}

/*新建微博组*/
.ZWT_Prewiew .add_count{text-align:right;padding:15px 0 0 60px;width:630px}
.ZWT_Prewiew .add_count a{display:inline-block;width:115px;height:39px;background:url(../image/add_count.png) no-repeat 0 0}
.ZWT_Prewiew .add_count a:hover{background-position:0 -50px}
.line_01{height:1px;overflow:hidden;background:#454a53;border-top:1px solid #2d3034;}

/*绑定弹出层*/
.blk_preview {padding:0;height:350px}
.blk_preview h5{font:16px/24px "微软雅黑";color:#fefeff;text-align:center;padding:20px 0 30px}
.blk_preview .pre_item{margin:0;float:none;padding:0 10px;zoom:1}
.blk_preview .user_face{font:16px/156px "微软雅黑";color:#616468;}
.blk_preview .user_face img{vertical-align:top}