@charset "gb2312";
/*css reset*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,img{margin:0;padding:0;}
fieldset,img{border:none;vertical-align:middle;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul,ol{list-style:none;}
select,input{vertical-align:middle;}
select,input,textarea{font-size:12px;margin:0;outline:none;resize:none;font-family:Verdana;}
table{border-collapse:collapse;}
body{color:#666;padding:0;font:12px/20px Verdana;}

.clearfix:after{content:".";display:block;height:0;overflow:hidden;clear:both;}
.clearfix{zoom:1;}
.clearit{clear:both;height:0;font-size:0;overflow:hidden;}

a{color:#333;text-decoration:none;}
a:visited{color:#555;}
a:hover, a:active, a:focus{color:#f00;text-decoration:underline;}
body{color:#666;padding:0;font:12px/20px Verdana;background: url(../image/admin/wb_m_03.jpg) repeat 0 0;}

/*通用属性*/

/*默认文字链接色*/
.admin_color{color:#666;}
.admin_color a:link,.admin_color a:visited{color:#365cab;}
.admin_color a:hover{color:#365cab;}
.admin_color01{color:#666;}
.admin_color01 a:link,.admin_color01 a:visited{color:#666;}
.admin_color01 a:hover{color:#365cab;}
.admin_color02{color:#333;}
.admin_color02 a:link,.admin_color02 a:visited{color:#333;}
.admin_color02 a:hover{color:#365cab;}

/*表单组件*/
.fm_01{border-bottom:1px dashed #ccc;padding:10px 0 20px;}
.fm_01 fieldset{border-bottom:1px dashed #ccc;padding-bottom:10px;}
.fm_01 legend{font:700 14px/30px "宋体";color:#666;padding-bottom:10px;}
.fm_group_01{line-height:21px;margin:10px 0}
.fm_label_01{display:inline-block;width:55px;vertical-align:middle}
.fm_text_01{width:116px;color:#666;padding:2px 5px}
.fm_select_01{color:#666;vertical-align:top;height:22px;line-height:22px;width:130px;}
.fm_textaera_01{border:1px solid #cacaca;padding:6px;box-shadow:1px 1px 1px #eee inset;overflow-x:hidden;overflow-y:auto;}
.fm_textaera_02{border:1px solid #aaa;padding:6px;box-shadow:1px 1px 1px #eee inset;overflow-x:hidden;overflow-y:auto;vertical-align:top}
.radio_arr input{vertical-align:-2px}
.fm_radio_01{margin-right:25px}
.fm_radio_01,.fm_radio_01 span{display:inline-block;}
.fm_radio_01 input{vertical-align:-2px;margin-right:6px}
.pic_group{padding-left:75px}
.pic_group img{vertical-align:text-bottom}
.blk_ps{color:#999;padding-left:15px}
/*按钮*/
/*绿色*/
.button_01{border:1px solid #5ea000;background:#82cd00;color:#fff;padding:0 10px;border-radius:4px;height:23px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#82cd00', endColorstr='#6ead00', GradientType='0');background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #a8dc00), color-stop(0.1, #82cd00), color-stop(1, #6ead00));background:-moz-linear-gradient(top, #82cd00, #82cd00);cursor:pointer;line-height:21px;*margin-bottom:1px;}
/*深灰色*/
.button_02{border:1px solid #666;background:#7e7e7e;color:#fff;padding:0 10px;border-radius:4px;height:23px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#949494', endColorstr='#7e7e7e', GradientType='0');background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #b4b4b4), color-stop(0.1, #949494), color-stop(1, #7e7e7e));background:-moz-linear-gradient(top, #949494, #7e7e7e);cursor:pointer;line-height:21px;*margin-bottom:1px;}
/*白灰色*/
.button_03{border:1px solid #c7c7c7;background:#f1f1f1;color:#666;padding:0 10px;border-radius:4px;height:23px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType='0');background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.1, #fafafa), color-stop(1, #e8e8e8));background:-moz-linear-gradient(top, #fafafa, #e8e8e8);cursor:pointer;line-height:21px;*margin-bottom:1px;}
/*图片上传按钮*/
.btn_choose{position:relative;width:88px;height:25px;display:block;overflow:hidden}
.btn_choose:link span,.btn_choose:visited span{display:block;text-align:center;line-height:21px;height:21px}
.btn_choose:hover{text-decoration:none}
.btn_choose input{position:absolute;right:0;top:0;border:0 none;height:24px;margin:0;padding:0;cursor:pointer; font-size:28px; opacity:0; filter:alpha(opacity:1);}

/*收起按钮*/
.fold{width:16px;height:16px;border:none;padding:0;background:url(../image/admin/s_01.png) no-repeat 0 -50px;_background-image:url(../image/admin/s_01_b8.png);cursor:pointer}
/*展开按钮*/
.unfold{width:16px;height:16px;border:none;padding:0;background:url(../image/admin/s_01.png) no-repeat 0 -100px;_background-image:url(../image/admin/s_01_b8.png);cursor:pointer}

/*表格列表*/
.blk_rst{padding:15px 0 5px;}
/*表格样式一 虚线*/
.pb_tabel01{width:100%;line-height:30px;text-align:center;border-bottom:1px solid #ccc;}
.pb_tabel01 th{font-size:12px;font-weight:bold;border:1px solid #ccc;}
.pb_tabel01 tr{}
.pb_tabel01 td{border-right:1px solid #ccc;border-left:1px solid #ccc;border-bottom:1px dashed #ccc;}

/*通用弹出层*/
.ZWT_pblayer{position:absolute;z-index:10;background-color:#fff;box-shadow:0 0 15px rgba(0,0,0,.2);border:1px solid #ddd}
.ZWT_pblayer  .Layer_close:link,.ZWT_pblayer  .Layer_close:visited{position:absolute;right:10px;top:10px;width:12px;height:12px;background:url(../image/admin/s_01.png) no-repeat -100px 0;overflow:hidden;line-height:200px;outline:none;}
.ZWT_pblayer  .Layer_close:hover{background-position:-150px 0}
.ZWT_pblayer .layer_cont{zoom:1}

/*删除对话框*/
.del_layer{width:250px;height:142px;}
.del_layer table{width:100%;height:142px;}
.del_layer td{text-align:center;vertical-align:middle}
.del_layer p{font-size:14px}

/*密码对话框*/
.pswd_layer{width:300px;height:180px}
.layer_hd{height:32px;line-height:32px;border-bottom:1px solid #ccc;padding:0 0 0 30px;color:#333}
.pswd_layer .set_pswd{text-align:right;padding:5px 55px 0 0}
.pswd_layer .wgt_text_02{width:166px;line-height:21px;color:#bbb;padding:6px 11px;border:1px solid #bbb;border-radius:3px;box-shadow: inset 1px 2px 2px #ececec;}

/*查看信息层*/
.inform_layer{width:400px;min-height:180px}
.inform_layer .inform{padding:10px 30px}
.inform_layer .inform p{color:#999}
.inform_layer .inform strong{color:#666;font-weight:400}
/*用户管理*/
 .wbcount_list{margin:5px 0}
.wbcount_list dt{float:left;padding:0 10px;text-align:center;line-height:31px;height:31px;margin:2px 0} 
.wbcount_list dd{float:left;width:620px;margin-right:-5px}
.wbcount_list .wbcount_item{float:left;height:31px;margin:2px 5px 2px 0;line-height:31px;background-color:#ededed;border:1px solid #c7c7c7;}

.wbcount_list .user_face{float:left;width:25px;height:25px;overflow:hidden;margin:3px 10px}
.wbcount_list .user_face img{vertical-align:top}
.wbcount_list .wb_name{float:left;padding-right:13px}
.wbcount_list .face_set{float:left}
.wbcount_list .face_set input{margin-right:5px;_display:inline}
.wbcount_list .wb_icon{float:left;width:30px;*padding:7px 0;_padding:0;}
a.ZWT_closed:link,a.ZWT_closed:visited{display:inline-block;width:10px;height:10px;line-height:200;overflow:hidden;background:url(../image/admin/s_01.png) no-repeat -100px 0;_background-image:url(../image//admin/s_01_b8.png);vertical-align:middle}
a.ZWT_closed:hover{background-position:-150px 0}
.wbcount_list .ZWT_closed{margin:0 10px}

/*签发管理*/
.wbcount_item .fm_text_01{margin-left:10px;vertical-align:-2px}
.wbcount_item .fm_select_01{vertical-align:-2px;margin-left:10px}

/*推荐内容*/
.wb_list{margin:-1px 0 0}
.wb_list .wb_item{line-height:20px;padding:10px 20px;border-top:1px dashed #ccc}
.wb_list .wb_cont a{color:#cb0000}


/*布局*/
.wrap_970{width:970px;margin:0 auto;}
.pb_boder01{border:1px solid #cecece;box-shadow:0 0 7px rgba(0,0,0,0.1);}
/*.top_hd{padding:20px 0;border-bottom:1px solid #999;}*/
.top_nav{padding:20px 0;}
.nav_tag_left{float:left;}
.nav_tag_right{float:right;}
.blk_admin_main{background:#fff url(../image/admin/wb_s_02.png) repeat-y 0 0;font-family:"宋体"}
.blk_admin_main .m_left{float:left;width:149px;padding:20px 0 0;}
.blk_admin_main .m_right{float:right;width:748px;padding:20px 30px 30px 40px;}
.blk_admin_main .m_cont{padding:0 20px}

/*左侧导航*/
.menu{font-size:14px;line-height:30px;}
.menu dt a{padding:0 0 0 20px;display:block;margin-bottom:1px}
.menu dt a span{padding:0 0 0 25px;display:block}
.menu dt a:hover{color:#333;text-decoration:none;background-color:#dadada }
.menu dt a:hover span{background:none}
.menu dt .cuurent{font-weight:700;color:#333;text-decoration:none;background-color:#dadada }
.menu dt .cuurent span,.menu dt .cuurent:hover span{background-position:-100px -399px;background: url(../image/admin/s_01.png) no-repeat -100px -92px;_background-image:url(../image/admin/s_01_b8.png)}
/*左侧导航a*/
.menu_a{font-size:14px;line-height:30px;}
.menu_a dt{padding:0 0 0 25px;display:block;background-color:#eaedf3;color:#999}
.menu_a dd a{display:block;padding:0 0 0 25px;}
.menu_a dd a:hover{font-weight:700;background-color:#dadada;color:#333;text-decoration:none}
/*右侧标题*/
.sub_hd_01{font:18px/24px "微软雅黑";color:#010101;border-bottom:1px solid #cbcbcb;padding-bottom:5px}
.sub_hd_02{font:700 14px/30px "宋体";color:#333;}
.pb_tips{color:#666;font-weight:400;font-size:12px;padding-left:20px}
.table_edit a{text-decoration:underline;}

/*分页 蓝色*/
.wbp_pagelist_blue{text-align:center;padding:20px 0;}
.wbp_pagelist_blue span,.wbp_pagelist_blue a:link,.wbp_pagelist_blue a:visited,.wbp_pagelist_blue input{color:#365cab;border:1px solid #ddd;line-height:21px;padding:0 8px;display:inline-block;vertical-align:top;background:#fff;}
.wbp_pagelist_blue a:hover{border-color:#365cab;box-shadow:0 0 5px #365cab;text-decoration:none;}
.wbp_pagelist_blue span{color:#999;cursor:default;}
.wbp_pagelist_blue span.selected,.wbp_pagelist_blue a.selected:link,.wbp_pagelist_blue a.selected:visited{background:#365cab;border-color:#365cab;color:#fff;}
.wbp_pagelist_blue a.selected:hover{background:#fff;color:#365cab;}
.wbp_pagelist_blue input{width:12px;padding:0 5px;margin:0 6px;}
.wbp_pagelist_blue  .page_num{border:none;color:#666}


