@charset "utf-8";
/*整体样式复写*/
.zwp_main_c2_a .m_cont{background-image:url(../image/h_cont_bg.png)}
.zwp_main_c2_a .m_right .wrap{width:682px;padding-left:10px}
.ZWT_Search{padding-top:35px}
.ZWT_Search form{width:180px;margin:0 auto;background-image:url(../image/H_search.png)}
.ZWT_Search .ln_key{width:138px}

.H_title{font:20px/70px "微软雅黑";background-color:#cecece;text-align:center;color:#333}
/*左侧导航条*/
.H_nav{padding-right:1px;}
.H_nav a:link,.H_nav a:visited{display:block;height:52px;padding-bottom:1px;text-align:center;font:16px/52px "微软雅黑";color:#027caa; background:url(../image/H_nav_bg.png) repeat-x 0 0}
.H_nav a:hover{background-position:0 -100px;text-decoration:none}
.H_nav a.current:link,.H_nav a.current:visited,.H_nav a.current:hover{background-position:0 -200px;color:#fff}

.H_hd01{font:17px/40px "微软雅黑";color:#010101;padding-bottom:15px;margin-bottom:20px;background:url(../image/H_hd01_line.png) no-repeat 0 100%}

/*关于我们*/
.H_hd02{font:17px/40px "微软雅黑";color:#010101;padding:20px 0 5px;}
.H_text{font:14px/28px "宋体";margin-bottom:20px;padding:0 0 0 5px}
.H_text p{text-indent:2em}

/*联系我们*/
.H_lsit01{list-style:disc;list-style-position:inside;color:#5290bf}
.H_lsit01 span{color:#666;padding-left:8px;font:14px/28px "宋体"}

/*帮助说明*/
.catalogue{margin-top:-10px;padding-bottom:20px}
.catalogue h2{font:20px/40px "微软雅黑";color:#333;padding-bottom:8px}
.catalogue ol{font:16px/28px "微软雅黑";}
.blk_helptext{padding-left:10px}
.blk_helptext .section{border-top:1px dashed #959595;padding:15px 0 10px}
.blk_helptext h3{font:20px/40px "微软雅黑";color:#000;padding-bottom:5px}
.blk_helptext .sec_cont{padding-left:40px;line-height:24px}
.blk_helptext dl{position:relative;z-index:1}
.blk_helptext dt{font:14px/24px "微软雅黑";color:#333;padding:0 0 4px}
.blk_helptext dd{padding:0 0 10px}
.blk_helptext .tips{padding-left:20px}
.blk_helptext .pic_wrap01{margin:10px 0}
.blk_helptext .pic_wrap02{margin:0 0 10px}
.blk_helptext .pic{margin-bottom:20px}


/*问题反馈*/
.fm_problem{}
.fm_problem table{width:100%;}
.fm_problem table td{vertical-align:top;line-height:37px}
.fm_problem .toCont{width:568px;height:148px;padding:6px;border:1px solid #cbcbcb;color:#d3d3d3;overflow-x:hidden;overflow-y:auto;line-height:24px;margin-bottom:25px;vertical-align:top}
.fm_problem .focus{color:#666}
.fm_problem .toConn{width:568px;height:23px;line-height:23px;padding:6px;border:1px solid #cbcbcb;color:#d3d3d3;}
a.p_send{display:inline-block;width:102px;height:37px;margin-top:20px;line-height:200;overflow:hidden;background:url(../image/H_btn_send.png) no-repeat 0 0}
a.p_send:hover{background-position:-150px 0 }

/*隐私说明*/
.Privacy_text{line-height:24px}
.Privacy_text h4{font:16px/24px "微软雅黑";text-align:center;color:#333;margin-bottom:10px}
.Privacy_text h6{margin:10px 0 2px;font-size:12px}
.Privacy_text p{text-indent:2em}
