@charset "gbk";
/* 
政务通公用组件样式文件
	#顶通
	#发布器
	#微博列表
	#转发框
	#评论
	#用户卡片
	#关注按钮
	#回到顶部
*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,img{margin:0;padding:0;}
fieldset,img{border:none;vertical-align:middle;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul,ol{list-style:none;}
select,input{vertical-align:middle;}
select,input,textarea{font-size:12px;margin:0;outline:none;resize:none;font-family:Verdana;}
table{border-collapse:collapse;}
body{color:#666;padding:0;font:12px/20px Verdana;}

.clearfix:after{content:".";display:block;height:0;overflow:hidden;clear:both;}
.clearfix{zoom:1;}
.clearit{clear:both;height:0;font-size:0;overflow:hidden;}

a{color:#333;text-decoration:none;}
a:visited{color:#555;}
a:hover, a:active, a:focus{color:#0193c9;text-decoration:underline;}

/*常用属性*/
.f_l{float:left}
.f_r{float:right}
.w_960{width:960px;}
.w_201{width:201px;}
.line_01{height:1px;overflow:hidden;background:#454a53;border-top:1px solid #2d3034;}

/*css_sprite zwt_s_01_d*/
.ZWT_topbar .tpb_logo a,.ZWT_topbar .tpb_select .tpb_num span,.ZWT_topbar .tpb_sett span,.WBM_weiboEditor .pbl_icon a,.WBM_weiboEditor .pbl_ctrl a,.WBM_weiboEditor .pbl_ctrl span,.WBM_weiboEditor .pbl_submit a,.ZWT_Layer .layer_close,.zwp_listnav .ln_type a,.zwp_listnav .ln_search form,.zwp_listnav .ln_btn{background:url(../image/zwt_s_01_d.png) no-repeat 0 0;_background-image:url(../image/zwt_s_01_d_b8.png);}

/*css_sprite zwt_s_02_d*/
.zwp_wb_layer .layer_cont a,.zwp_wb_layer .layer_cont .selcet_arr{background:url(../image/zwt_s_02_d.png) no-repeat 0 0;_background-image:url(../image/zwt_s_02_d_b8.png)}

.zwp_nav a span{background:url(../image/zwt_icon_s_01_d.png) no-repeat 0 0;_background-image:url(../image/zwt_icon_s_01_d_b8.png);}

/* 顶通 */
.ZWT_topbar{height:50px;width:100%;position:relative;z-index:10;background:url(../image/zwt_bg_r_01_d.png) repeat-x 0 0;}
.ZWT_topbar .tpd_fixed{position:absolute;z-index:20;top:0;height:50px;width:100%;background:url(../image/top_logo_bg.png) no-repeat 0 0;box-shadow:0 1px 3px rgba(0,0,0,0.5);}
.ZWT_topbar .tpb_left{float:left;}
.ZWT_topbar .tpb_right{float:right;}

.ZWT_topbar .tpb_userCount{position:relative;float:left;width:200px;height:50px;}
.ZWT_topbar .tpb_logo a:link,.ZWT_topbar .tpb_logo a:visited{position:relative;z-index:1;display:block;height:50px;background-color::#006387;overflow:hidden;line-height:200px;outline:none;background-position:0 -400px}
.ZWT_topbar .tpb_logo a:hover{background-position:-250px -400px}

.ZWT_topbar .tpb_userCount dd{position:absolute;left:0;top:50px;display:none;width:198px;padding:20px 0;border:1px solid #005a7c;background-color:#006e96;border-bottom-right-radius:3px;border-bottom-left-radius:3px;}
.ZWT_topbar .tpb_userCount .show dd{display:block;}
.ZWT_topbar .tpb_userCount .count_info a{display:block;height:30px;padding:10px 29px;border-bottom:1px solid #006e96;line-height:30px;color:#fff;text-decoration:none;}
.ZWT_topbar .tpb_userCount .count_info a:hover{background:url(../image/zwt_bg_r_01_d.png) repeat-x 0 -350px;border-bottom-color:#14799e}
.ZWT_topbar .tpb_userCount .count_pic{margin-right:10px;vertical-align:middle}

.ZWT_topbar .tpb_menu{float:left;}
.ZWT_topbar .tpb_menu a:link,.ZWT_topbar .tpb_menu a:visited{display:inline-block;width:125px;padding-right:12px;height:50px;line-height:50px;font-size:15px;font-family:'微软雅黑','Microsoft Yahei','STHeiti';text-align:center;color:#fff;_zoom:1;}
.ZWT_topbar .tpb_menu a:hover,.ZWT_topbar .tpb_menu .selected{width:123px;border-left:1px solid #005372;border-right:1px solid #288eb4;text-decoration:none;background:url(../image/zwt_bg_r_01_d.png) repeat-x 0 -100px}
.ZWT_topbar .tpb_arr{background:url(../image/zwt_icon_s_01_d.png) no-repeat 0 0;_background-image:url(../image/zwt_icon_s_01_d_b8.png);padding-left:28px;display:inline-block;cursor:pointer;}
.ZWT_topbar .tpb_arr_a{background-position:0 13px}
.ZWT_topbar .tpb_arr_b{background-position:0 -37px}
.ZWT_topbar .tpb_arr_c{background-position:0 -85px}
.ZWT_topbar .tpb_arr_d{background-position:0 -137px}

.ZWT_topbar .tpb_select{position:relative;width:120px;height:50px;}
.ZWT_topbar .tpb_select .tpb_num{display:block;font:12px/50px Verdana;color:#fff;overflow:hidden;text-decoration:none;padding-left:15px;outline:none;background:url(about:blank)}
.ZWT_topbar .tpb_select .tpb_num span{padding-right:13px;background-position: 100% -395px;}
.ZWT_topbar .tpb_select .tpb_num:hover,.ZWT_topbar .tpb_select .show .tpb_num{padding-left:14px;border-left:1px solid #005372;border-right:1px solid #288eb4;text-decoration:none;background:url(../image/zwt_bg_r_01_d.png) repeat-x 0 -100px;zoom:1}
.ZWT_topbar .tpb_select .tpb_num:hover span,.ZWT_topbar .tpb_select .show .tpb_num span{background:none}
.ZWT_topbar .tpb_select dd{position:absolute;top:50px;left:0;display:none;width:118px;height:46px;border:1px solid #005a7c;background-color:#006e96;box-shadow:0 1px 2px rgba(0,0,0,.8)}
.ZWT_topbar .tpb_select .show dd{display:block}
.ZWT_topbar .tpb_sett:link,.ZWT_topbar .tpb_sett:visited{width:58px;display:inline-block;text-align:center;color:#a3bfcf;text-decoration:none}
.ZWT_topbar .tpb_sett:hover{color:#fff;background-color:#006286;box-shadow:0 1px 1px rgba(0,0,0,.1) inset}
.ZWT_topbar .tpb_sett span{display:inline-block;height:46px;line-height:46px; padding-left:17px;background-position:0 16px;cursor:pointer}
.ZWT_topbar .tpb_sett .icon_sett{background-position:0 16px}
.ZWT_topbar .tpb_sett .icon_out{background-position:-100px 16px}
.ZWT_topbar .tpb_sett:hover .icon_sett{background-position:-200px 16px}
.ZWT_topbar .tpb_sett:hover .icon_out{background-position:-300px 16px}

/*发布器 */
.WBM_publisher .pbl_top{padding:8px 0;}
.WBM_publisher h3{float:left;font:16px/24px "微软雅黑";}
/*.WBM_publisher h3{float:left;font:18px/24px "微软雅黑";color:#3a3e45;padding-left:28px; background:url(../image/zwt_icon_s_01_d.png) no-repeat 0 -797px;_background-image:url(../image/zwt_icon_s_01_d_b8.png);}
*/
.WBM_publisher .wb_access{font:12px/16px "宋体";display:inline-block;border-left:1px dotted #ccc;padding:0 0 0 10px;margin:0 0 0 5px}
.WBM_weiboEditor .pbl_topic{float:right;color:#666;line-height:24px;height:24px;overflow:hidden;}
.WBM_weiboEditor .pbl_num{float:right;line-height:24px;height:24px;overflow:hidden;}
.WBM_weiboEditor .pbl_num i{font:bold italic 22px/24px 'Constantia', 'Georgia';}
.WBM_weiboEditor .pbl_num u{font:bold italic 22px/24px 'Constantia', 'Georgia';color:#f00;text-decoration:none;}

.WBM_publisher  .pbl_box{border:1px solid #90949a;box-shadow:0 0 0 3px #e5e7ec;height:148px;}
.WBM_weiboEditor .pbl_text{height:112px;}
.WBM_weiboEditor .pbl_text textarea{font:14px/18px Tahoma;color:#333;width:98.8%;height:100px;}
.WBM_weiboEditor .pbl_bot{width:100%;height:35px;border-top:1px solid #d1d5da;background:#f4f4f4 url(../image/zwt_bg_r_01_d.png) repeat-x 0 -300px}
.WBM_weiboEditor .pbl_icon{padding:6px 0 0 20px;}
.WBM_weiboEditor .pbl_icon a{color:#3a3e45;height:23px;font:14px/23px "微软雅黑"; background-position:0 -100px;padding-left:25px;margin-right:16px;float:left;outline:none;text-decoration:none!important;}
.WBM_weiboEditor .pbl_icon a:hover{color:#04acea;text-decoration:none!important;}
.WBM_weiboEditor .pbl_icon a.pbl_icon01{background-position:0 -100px;}
.WBM_weiboEditor .pbl_icon a.pbl_icon01:hover{background-position:0 -150px;}
.WBM_weiboEditor .pbl_icon .pbl_icon01_d{background-position:0 -200px!important;color:#999!important;}
.WBM_weiboEditor .pbl_icon .pbl_icon01_s{background-position:0 -150px!important;color:#04acea!important;}
.WBM_weiboEditor .pbl_icon a.pbl_icon02{background-position:-100px -100px}
.WBM_weiboEditor .pbl_icon a.pbl_icon02:hover{background-position:-100px -150px;}
.WBM_weiboEditor .pbl_icon .pbl_icon02_d{background-position:-100px -200px!important;color:#999!important;}
.WBM_weiboEditor .pbl_icon .pbl_icon02_s{background-position:-100px -150px!important;color:#04acea!important;}
.WBM_weiboEditor .pbl_icon a.pbl_icon03{background-position:-200px -100px}
.WBM_weiboEditor .pbl_icon a.pbl_icon03:hover{background-position:-200px -150px;}
.WBM_weiboEditor .pbl_icon .pbl_icon03_d{background-position:-200px -200px!important;color:#999!important;}
.WBM_weiboEditor .pbl_icon .pbl_icon03_s{background-position:-200px -150px!important;color:#04acea!important;}
.WBM_weiboEditor .pbl_icon a.pbl_icon04{background-position:-300px -100px}
.WBM_weiboEditor .pbl_icon a.pbl_icon04:hover{background-position:-300px -150px;}
.WBM_weiboEditor .pbl_icon .pbl_icon04_d{background-position:-300px -200px!important;color:#999!important;}
.WBM_weiboEditor .pbl_icon .pbl_icon04_s{background-position:-300px -150px!important;color:#04acea!important;}
.WBM_weiboEditor .pbl_icon a.pbl_icon05{background-position:-400px -100px}
.WBM_weiboEditor .pbl_icon a.pbl_icon05:hover{background-position:-400px -150px;}
.WBM_weiboEditor .pbl_icon .pbl_icon05_d{background-position:-400px -200px!important;color:#999!important;}
.WBM_weiboEditor .pbl_icon .pbl_icon05_s{background-position:-400px -150px!important;color:#04acea!important;}
.WBM_weiboEditor .pbl_icon a.pbl_icon06{background-position:-500px -100px}
.WBM_weiboEditor .pbl_icon a.pbl_icon06:hover{background-position:-500px -150px;}
.WBM_weiboEditor .pbl_icon .pbl_icon06_d{background-position:-500px -200px!important;color:#999!important;}
.WBM_weiboEditor .pbl_icon .pbl_icon06_s{background-position:-500px -150px!important;color:#04acea!important;}

.WBM_weiboEditor .pbl_sett{position:relative;height:38px;padding:13px 0 0;}
.WBM_weiboEditor .pbl_ctrl{float:left;height:26px;font-family:"宋体"}
.WBM_weiboEditor .pbl_ctrl a{float:left;width:102px;height:26px;line-height:26px;margin:0 10px 0 0;color:#68748a;text-align:center;display:block;background-position:-300px -350px;}
.WBM_weiboEditor .pbl_ctrl span{display:inline-block;height:26px;padding:0 0 0 23px;background-position: -300px -250px;}
.WBM_weiboEditor .pbl_ctrl a:hover{background-position:-450px -350px;text-decoration:none;}
.WBM_weiboEditor .pbl_ctrl a:hover span{background-position:-300px -300px;cursor:pointer}
.WBM_weiboEditor .pbl_ctrl .pbl_icon07 span{background-position:-300px -250px}
.WBM_weiboEditor .pbl_ctrl .pbl_icon07:hover span{background-position:-300px -300px}
.WBM_weiboEditor .pbl_ctrl .pbl_icon08 span{background-position:-400px -250px}
.WBM_weiboEditor .pbl_ctrl .pbl_icon08:hover span{background-position:-400px -300px}
.WBM_weiboEditor .pbl_ctrl .pbl_icon09 span{background-position:-500px -250px}
.WBM_weiboEditor .pbl_ctrl .pbl_icon09:hover span{background-position:-500px -300px}

.WBM_weiboEditor .pbl_ctrl .wb_group{padding-left:16px;}
.WBM_weiboEditor .wb_group img{margin:5px 0 0 3px;vertical-align:top}
.WBM_weiboEditor .pbl_ctrl .pbl_icon09:link .taked,.WBM_weiboEditor .pbl_ctrl .pbl_icon09:visited .taked,.WBM_weiboEditor .pbl_ctrl .pbl_icon09:hover .taked{background:url(../image/zwt_s_02_d.png) no-repeat 0 -148px;_background-image:url(../image/zwt_s_02_d_b8.png)}

.WBM_weiboEditor .pbl_submit{float:right;}
.WBM_weiboEditor .pbl_submit a:link,.WBM_weiboEditor .pbl_submit a:visited{display:block;width:102px;height:38px;background-position: 0 -250px;}
.WBM_weiboEditor .pbl_submit a:hover{background-position:-150px -250px;}
.WBM_weiboEditor .pbl_media{padding:5px;background:#f6f6f6;border:1px solid #dedede;border-top:0;box-shadow:0 0 5px #e8e8e8 inset, 0 1px 5px #e8e8e8 inset;display:none;}
.WBM_weiboEditor .pbl_media_item{float:left;text-align:center;padding:0 10px;}
.WBM_weiboEditor .pbl_media_img{padding:5px;}
.WBM_weiboEditor .pbl_media_txt{padding:5px;color:#999;text-align:center;}

.pbl_atSuggest{width:150px;}

/* 心情窗口 */
.pbl_faces_layer{left:220px;top:260px;z-index:1002!important;}
.pbl_faces_layer .layer_cont{width:375px;padding:25px 20px 20px!important;}
.pbl_faces_layer span.layer_arr_top{display:block;left:30px;}
.pbl_faces_layer .faces_table td{width:30px;height:30px;text-align:center;}
.pbl_faces_layer .faces_table img{cursor:pointer;}
.pbl_faces_layer .faces_page{text-align:right;padding-top:5px;margin-bottom:-10px;}
.pbl_faces_layer .faces_page span{line-height:14px;padding-bottom:1px;display:inline-block;background:#cacaca;color:#fff;cursor:default;width:14px;text-align:center;}
.pbl_faces_layer .faces_page a{line-height:14px;padding-bottom:1px;display:inline-block;color:#666;width:14px;text-align:center;}
.pbl_faces_layer .faces_page a:hover{color:#fff;background:#cacaca;}

/* 添加视频窗口 */
.pbl_video_layer{left:220px;top:360px;z-index:1002!important;}
.pbl_video_layer .layer_bg .layer_cont{width:415px;padding:0;}
.pbl_video_layer span.layer_arr_top{display:block;left:160px;}
.pbl_video_layer form{padding:20px 5px 0;}
.pbl_video_layer p{padding:5px 0;}
.pbl_video_url{width:370px;}
.pbl_video_alert{text-align:center;padding:15px 5px 5px;display:none;}
.pbl_video_layer .pbl_alert_icon{display:inline-block;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -448px -698px;padding-left:25px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);}
.pbl_video_tags{background:#fafafa;height:28px;border-bottom:1px solid #c4c4c4;color:#333;padding:7px 0 0 20px;}
.pbl_video_tags dd{float:left;padding:0 15px;line-height:27px;height:27px;border:1px solid #c4c4c4;border-bottom:none;margin-left:-1px;background:#f3f3f3;cursor:pointer;}
.pbl_video_tags dd.selected{height:28px;margin-bottom:-1px;position:relative;background:#fff;cursor:default;}
.pbl_video_c1{padding:29px 10px 29px;text-align:center;}
.pbl_video_c1 a.uploadVideo{display:block;width:142px;height:23px;margin:0 auto;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -0 -900px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);}
.pbl_video_c2{display:none;padding:0 10px 10px;}

/* 添加长文窗口 */
.pbl_longtext_layer{left:220px;top:360px;z-index:1002!important;}
.pbl_longtext_layer .layer_cont{width:395px;}
.pbl_longtext_layer span.layer_arr_top{display:block;left:220px;}
.pbl_longtext_layer form{padding:20px 5px 0;}
.pbl_longtext_layer p{padding:5px 0;}
.pbl_longtext_layer textarea{width:365px;height:75px;font:14px/18px Tahoma;color:#333;}
.pbl_longtext_layer .focus textarea{}
.pbl_longtext_layer .pbl_textsum i{color:#cd0000;font-style:normal;}

/* 添加话题窗口 */
.pbl_topic_layer{left:220px;top:360px;z-index:1002!important;}
.pbl_topic_layer .layer_cont{width:395px;}
.pbl_topic_layer span.layer_arr_top{display:block;left:280px;}
.pbl_topic_layer .pbl_tp_btn{text-align:center;padding:5px 0 0;}
.pbl_topic_layer h3{height:18px;border-bottom:1px dashed #ccc;}
.pbl_topic_layer .tit_name{font-size:12px;font-weight:normal;line-height:36px;background:#fff;display:inline-block;padding:0 10px 0 5px;margin-bottom:-18px;position:relative;}
.pbl_topic_layer ul{padding:15px 5px 0 10px;}
.pbl_topic_layer li{width:190px;float:left;line-height:24px;}

/* 添加投票窗口 */
.pbl_vote_layer{left:220px;top:360px;z-index:1002!important;}
.pbl_vote_layer .layer_cont{width:395px;}
.pbl_vote_layer span.layer_arr_top{display:block;left:345px;}
.pbl_vote_layer h3{font-size:12px;font-weight:normal;line-height:30px;}
.pbl_vote_layer .pbl_vote_option{width:345px;height:20px;}
.pbl_vote_layer .pbl_vote_num{display:inline-block;width:25px;}
.pbl_vote_layer p{padding:5px;}
a.pbl_vote_btn_add:link,a.pbl_vote_btn_add:visited{width:91px;height:27px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat 0 -100px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);outline:none;display:inline-block;}
a.pbl_vote_btn_add:hover{background-position:0 -50px;}
.pbl_vote_layer .pbl_line{height:5px;overflow:hidden;border-bottom:1px dashed #ccc;margin-bottom:5px;}
.pbl_vote_layer .pbl_vote_endtime{padding-left:65px;display:none;}
.pbl_vote_layer .pbl_vote_enddate{height:17px;width:80px;padding:1px 33px 1px 5px;border:1px solid #ddd;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat 100% -751px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);margin-right:5px;cursor:default;}
.pbl_vote_layer .pbl_alert_icon{display:none;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -448px -796px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);padding-left:20px;}

/* 表单组件 */
.wgt_text_01{border:none;padding:6px;*border:1px solid none;overflow-x:hidden;overflow-y:auto;width:95%}
.focus .wgt_text_01{border-color:#017aa6;box-shadow:0 0 8px rgba(1,122,166,0.7);}

/* 认证图标 */
.wgt_icon_v{display:inline-block;width:18px;height:16px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -100px -549px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);vertical-align:middle;}

.wgt_icon_male{display:inline-block;padding-left:20px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -475px -299px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);vertical-align:top;}
.wgt_icon_female{display:inline-block;padding-left:20px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -475px -349px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);vertical-align:top;}

/* 提示层 */
.wgt_poplayer{z-index:100;position:absolute;display:none;width:67px;height:29px;text-align:center;color:#999;line-height:26px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -300px -700px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);}

/* 浮层 */
.WBM_layer{position:absolute;_zoom:1;z-index:15;display:none;}
.WBM_layer .layer_bg{padding:2px;*zoom:1;_float:left;border-radius:2px;filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0,startColorstr = '#26515151', endColorstr = '#26515151' )\9;background-color:#515151;background-color:rgba(81, 81, 81, 0.15);background-color:transparent\9;}
.WBM_layer .layer_arr_top{display:none;width:14px;height:9px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -250px 0;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);position:absolute;top:-6px;left:100px;overflow:hidden;}
.WBM_layer .layer_arr_bot{display:none;width:14px;height:9px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -250px -50px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);position:absolute;bottom:-6px;left:100px;overflow:hidden;}
.WBM_layer .layer_cont{border:1px solid #c4c4c4;background:#fff;border-radius:2px;padding:10px;}
.WBM_layer a.layer_close{position:absolute;right:11px;top:10px;width:15px;height:15px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -398px -597px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);overflow:hidden;line-height:200px;outline:none;}
.WBM_layer a.layer_close:hover{background-position:-398px -648px;}

/*多平台浮层*/
.ZWT_Layer{position:absolute;top:45px;left:0;}
.ZWT_Layer .layer_bg{width:374px;border:1px solid #adb7c6;background:#dee3eb;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eceff4', endColorstr='#dee3eb', GradientType='0');background:-webkit-gradient(linear, left top, left bottom, color-stop(0.1, #eceff4),  color-stop(1, #dee3eb));background:-moz-linear-gradient(top, #eceff4, #dee3eb);}

.ZWT_Layer .list_rt_arr{position:absolute;top:-7px;top:-6px\9;left:54px;font:12px/14px "SimSun";cursor:default;}
.ZWT_Layer .line_rt_arr_line1{color:#adb8c6;display:inline-block;vertical-align:top;}
.ZWT_Layer .line_rt_arr_line2{color:#eaedf3;margin-left:-12px;line-height:16px;display:inline-block;vertical-align:top;}
.ZWT_Layer .layer_close{position:absolute;right:2px;top:2px;width:15px;height:15px;background-position: 4px -46px;overflow:hidden;line-height:200px;outline:none;}


/*定向发布*/
.zwp_wb_layer{position:absolute;top:45px;left:0;display: none;z-index: 15;}
.zwp_wb_layer .layer_bg{height:64px;padding-right:15px}

.zwp_wb_layer .layer_cont{padding:11px 5px 0 5px;}
.zwp_wb_layer .layer_cont a{position:relative;float:left;_display:inline;width:43px;height:16px;text-align:center;margin:0 8px;background-position:1px 0;padding:14px 0 15px 0}
.zwp_wb_layer .layer_cont a:hover,.zwp_wb_layer .layer_cont .selected{background-position:1px -50px}
.zwp_wb_layer .layer_cont .selcet_arr{display:none;top:0;left:0;position:absolute;width:43px;height:43px;line-height:200;overflow:hidden;background-position:1px -100px;cursor:pointer}
.zwp_wb_layer .layer_cont .selected .selcet_arr{display:block;}
.zwp_wb_layer .layer_cont img{vertical-align:top;}

/*定时发布*/
.zwp_time_layer{position:absolute;top:45px;left:0;display: none;z-index: 15;}
.zwp_time_layer .layer_cont{padding:15px}
.zwp_time_layer .layer_cont p{color:#68748a;line-height:26px}
.zwp_time_layer .layer_cont  .def_mini{padding: 3px 5px;width:24px;color:#68748a;}


/* 微博列表 */
.WBM_list{padding-bottom:40px}
.WBM_list .list_item{border-bottom:1px dashed #ccc;padding:20px 0;*zoom:1;}
.WBM_list .list_del{border:1px solid #e7a7a7;padding:20px 20px 19px;background:#fee!important;margin:-1px -20px 0;}
.WBM_list .list_item:hover{background:#fcfcfc;}
.WBM_list .list_face{float:left;}
.WBM_list .list_detail{margin-left:69px;}
.WBM_list .list_user{font-size:14px;line-height:16px;}
.WBM_list .list_name{font-weight:bold;}
.WBM_list .list_text{font-size:14px;line-height:24px;color:#333;padding:5px 0 0;word-break:break-all;}
.WBM_list .list_media{padding:5px 0 0;_position:relative;}
.WBM_list .list_bottom{padding:6px 0 0;height:20px}
.WBM_list .list_type{float:left;padding:0 8px 0 0;}
.WBM_list .list_type a{display:block;width:16px;height:20px;}
.WBM_list .list_type img{vertical-align:-3px;box-shadow:1px 1px 1px #999}
.WBM_list .list_time{float:left;}
.WBM_list .list_func{float:right;}

/*收藏按钮图标
.WBM_list a.list_icon_fav{width:20px;height:20px;display:inline-block;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -200px -200px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);overflow:hidden;line-height:200px;vertical-align:middle;}
.WBM_list a.list_icon_fav:hover{background-position:-200px -250px;}
.WBM_list a.list_icon_fav_on{background-position:-250px -200px!important;}
*/
.WBM_list a.list_icon_fav{width:20px;height:20px;}
.WBM_list a.list_icon_fav_on{}

.WBM_list .list_s_pic{float:left;padding-right:20px;}
.WBM_list .list_s_pic img{cursor:url(http://i0.peopleurl.cn/microblog-v3/images/big.cur), auto;}
.WBM_list .list_s_video{float:left;padding-right:20px;}
.WBM_list .list_s_video img{cursor:pointer;}
.WBM_list .list_s_video_box{position:relative;}
.WBM_list .list_s_video s{width:22px;height:22px;display:block;position:absolute;left:10px;bottom:8px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -300px -600px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);z-index:2;cursor:pointer;opacity:0.5;filter:alpha(opacity=50);_filter:alpha(opacity=70);}
.WBM_list .list_s_video:hover s{opacity:0.9;filter:alpha(opacity=90);}
.WBM_list .list_s_vote{border:1px solid #cecece;padding:10px;float:left;margin-right:20px;border-radius:2px;color:#666;background:#fff;cursor:pointer;}
.WBM_list .ls_vote_img{float:left;width:70px;border-right:1px dashed #ccc;text-align:center;}
.WBM_list .ls_vote_img img{display:block;margin:0 auto;}
.WBM_list .ls_vote_img span{display:block;line-height:14px;padding:6px 0 0;}
.WBM_list .list_forward{border:1px solid #ddd;border-radius:3px;background:#f7f7f7;position:relative;padding:10px 20px;margin-top:5px;margin-right:10px;}
.WBM_list .ls_vote_img i{font-style:normal;color:#e42929;}
.WBM_list .ls_vote_txt{float:left;width:24px;padding:12px 10px 0 16px;}
.WBM_list .list_rt_arr{position:absolute;top:-7px;top:-7px\9;_top:-6px;left:20px;font:12px/14px "SimSun";cursor:default;}
.WBM_list .line_rt_arr_line1{color:#ddd;display:inline-block;vertical-align:top;}
.WBM_list .line_rt_arr_line2{color:#f7f7f7;margin-left:-12px;line-height:16px;display:inline-block;vertical-align:top;}
.WBM_list .list_forward .list_user{font-size:12px;}
.WBM_list .list_forward .list_text{font-size:12px;}
.WBM_list .list_open_media{background:#e3e3e3;margin-top:10px;}
.WBM_list .list_open_top{padding:13px 10px 10px;line-height:16px;height:16px;}
.WBM_list .list_open_top a{padding-left:16px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat 0 0;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);float:left;margin:0 10px;display:inline;outline:none;}
.WBM_list .list_btn_close{background-position:-398px -498px!important;}
.WBM_list .list_btn_tleft{background-position:-298px -448px!important;}
.WBM_list .list_btn_tright{background-position:-398px -448px!important;}
.WBM_list .list_btn_big{background-position:-298px -498px!important;float:right!important;}
.WBM_list .list_btn_link{background-position:-488px -448px!important;}
.WBM_list .list_btn_pop{background-position:-488px -498px!important;float:right!important;}
.WBM_list .list_open_cont{text-align:center;padding-bottom:20px;}
.WBM_list .list_open_cont img,.WBM_list .list_open_cont canvas{cursor:url(http://i0.peopleurl.cn/microblog-v3/images/small.cur), auto;}
.WBM_list .list_open_vote{margin-top:10px;background:#fff;}
.WBM_list .list_open_vote .list_open_top{background:#e3e3e3;}
.WBM_list .list_vote_total{text-align:center;display:block;color:#666;}
.WBM_list .list_vote_total strong{color:#d90c0c;}
.WBM_list .list_vote_cont{border:1px solid #e3e3e3;padding:20px 0;}
.WBM_list .list_vote_cont dt{line-height:20px;padding:5px 0 2px 22px;}
.WBM_list .list_vote_cont dt:hover{background-color:#f0f0f0;}
.WBM_list .list_vote_cont dt input{margin-right:6px;}
.WBM_list .list_vote_cont dd{padding:1px 0 10px 40px;}
.WBM_list .list_vote_cont .vote_bargraph{display:inline-block;height:14px;background:url(http://i0.peopleurl.cn/microblog-v3/images/wb_m_05.png) repeat-x 0 -148px;vertical-align:top;line-height:10px;margin-right:6px;}
.WBM_list .item_c2 .vote_bargraph{background-position:0 -198px;}
.WBM_list .item_c3 .vote_bargraph{background-position:0 -248px;}
.WBM_list .list_vote_cont .vote_num{height:14px;line-height:14px;color:#999;vertical-align:top;}
.WBM_list .vote_alre dt{padding-left:40px;}
.WBM_list .vote_alre .selected{background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -430px -842px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);}
.WBM_list .vote_end dt{padding-left:20px;}
.WBM_list .vote_end dd{padding-left:20px;}
.WBM_list .list_vote_btn{padding:5px 0 0 20px;}

.WBM_list a.del_btn_confirm{border:1px solid #ccc;display:inline-block;height:21px;padding:0 10px;border-radius:4px;background:#f5dbdb url(http://i0.peopleurl.cn/microblog-v3/images/wb_m_05.png) repeat-x 0 -50px;color:#666!important;line-height:21px;outline:none;text-decoration:none;}
.WBM_list a.del_btn_confirm:hover{background:#fff;border:1px solid #e45555;box-shadow:0 0 5px #e45555;color:#c70f0f!important;}

.WBM_comment{border:1px solid #d9d9d9;border-top:2px solid #ba0d0d;position:relative;margin-top:10px;background:#fafafa;}
.WBM_comment .list_top_arr{position:absolute;top:-8px;top:-7px\9;_top:-6px;right:40px;font:12px/14px "SimSun";cursor:default;height:7px;overflow:hidden;width:12px;}
.WBM_comment .line_top_arr_line1{color:#ba0d0d;display:inline-block;vertical-align:top;}
.WBM_comment .comment_pbl{padding:15px 20px 5px;}
.WBM_comment .pbl_text textarea{height:16px;width:470px;overflow:hidden;}
.WBM_comment .pbl_submit a:link,.WBM_comment .pbl_submit a:visited{display:block;width:58px;height:29px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -100px -800px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);text-align:center;line-height:29px;color:#fff;}
.WBM_comment .pbl_submit a:hover{background-position:-100px -850px;text-decoration:none;color:#333;}
.WBM_comment .comment_list{padding:0 25px 5px;overflow:hidden;color:#666;}
.WBM_comment .comment_item{border-top:1px dashed #ccc;padding:15px 0 5px;margin-top:-1px;}
.WBM_comment .comment_face{float:left;width:45px;}
.WBM_comment .comment_detail{margin-left:48px;line-height:22px;}
.WBM_comment .comment_func{text-align:right;padding:5px 0;}
.WBM_comment .comment_time{float:right;color:#999;padding-left:15px;}
.WBM_comment .comment_text{overflow:hidden;word-break:break-all;}
.WBM_comment .comment_del{width:13px;height:17px;display:inline-block;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -200px -850px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);}
.WBM_comment .comment_reply{width:18px;height:17px;display:inline-block;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -200px -800px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);}
.WBM_comment .comment_line{height:17px;display:inline-block;border-left:1px dotted #ccc;margin-left:15px;width:15px;}
.WBM_comment .comment_more{border-top:1px dashed #ccc;padding:5px 0 5px;}

/* 关注按钮 */
a.WBM_follow:link,a.WBM_follow:visited{width:64px;height:29px;display:inline-block;overflow:hidden;line-height:200px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -300px -200px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);}
a.WBM_follow:hover{background-position:-300px -250px!important;}

a.fl_focuson:link,a.fl_focuson:visited{width:64px;height:29px;display:inline-block;overflow:hidden;line-height:200px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -300px -200px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);background-position:-100px -150px;width:68px;}
a.fl_focuson:hover{background-position:-200px -150px!important;}

a.fl_fans:link,a.fl_fans:visited{width:64px;height:29px;display:inline-block;overflow:hidden;line-height:200px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -300px -200px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);background-position:-300px -850px;}
a.fl_fans:hover{background-position:-300px -900px!important;}

a.fl_friend:link,a.fl_friend:visited{width:64px;height:29px;display:inline-block;overflow:hidden;line-height:200px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -300px -200px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);background-position:0 -150px;width:68px;}
a.fl_friend:hover{background-position:-200px -150px!important;}

/*常用按钮样式*/
/*黑色*/
.btn_black:link,.btn_black:visited{display:inline-block;height:30px;line-height:30px;background:url(../image/zwt_bg_r_01_d.png) repeat-x 0 -550px;box-shadow:0 1px 1px rgba(0,0,0,.4)}

/* suggest */
.WBM_suggest{border:1px solid #ccc;background:#fff;box-shadow:1px 1px 3px rgba(0,0,0,0.2);position:absolute;line-height:24px;font-size:12px;color:#666;z-index:1003;display:none;}
.WBM_suggest .sgst_title{color:#333;padding:0 15px 0 10px;cursor:default;}
.WBM_suggest .sgst_opt{padding:0 15px 0 10px;cursor:pointer;_zoom:1;}
.WBM_suggest .sgst_selected{background:#dcdcdc;color:#333;}

/* 日期控件 */
.WBM_dateView{font-size:12px;text-align:center;width:176px;border:1px solid #ccc;padding:2px;z-index:1010;background:#fff;display:none;}
.WBM_dateView .dv_title{overflow:hidden;zoom:1;background:#eee;line-height:22px;height:24px;padding-top:1px;}
.WBM_dateView .dv_day{border:1px solid #efefef;border-right:none;margin-top:1px;_zoom:1;overflow:hidden;}
.WBM_dateView .dv_day dd{width:24px;border-right:1px solid #efefef;line-height:22px;height:22px;float:left;background-color:#f9f9f9;}
.WBM_dateView .sun{color:#c00;}
.WBM_dateView select{margin:2px 5px 0;}
.WBM_dateView table{border-left:1px solid #efefef;text-align:center;font-family:Arial;}
.WBM_dateView td{width:24px;height:22px;line-height:22px;border-right:1px solid #efefef;border-bottom:1px solid #efefef;background:#fff;color:#999;}
.WBM_dateView a{display:block;color:#333;text-decoration:none;zoom:1;}
.WBM_dateView a:visited{color:#333;text-decoration:none;}
.WBM_dateView a:hover{color:#c00;background:#d8ebfe;}
.WBM_dateView .dv_date span{display:block;}
.WBM_dateView .today{border:1px solid #f00;line-height:20px;}
.WBM_dateView .selected{background:#c00;color:#fff!important;}
.WBM_dateView .preMonth{float:left;color:#333;text-decoration:none;font-size:9px;}
.WBM_dateView .nextMonth{float:right;color:#333;text-decoration:none;font-size:9px;}

/* 微博提示框 */
.WBM_msglayer{z-index:1001;}
.WBM_msglayer .layer_cont{padding:20px;}
.WBM_msglayer .msg_icon{padding:20px 0 30px 60px;background:url(http://i0.peopleurl.cn/microblog-v3/images/wrong.gif) no-repeat 10px 10px;font-size:16px;}
.WBM_msglayer .msg_icon_right{padding:20px 0 30px 60px;background:url(http://i0.peopleurl.cn/microblog-v3/images/right.gif) no-repeat 10px 10px;font-size:16px;}
.WBM_msglayer .msg_btnline{text-align:center;}

.WBM_confirmlayer{z-index:1001;}
.WBM_confirmlayer .layer_cont{padding:20px;}
.WBM_confirmlayer .msg_icon{padding:20px 0 30px 60px;background:url(http://i0.peopleurl.cn/microblog-v3/images/confirm.gif) no-repeat 10px 20px;font-size:16px;}
.WBM_confirmlayer .msg_btnline{text-align:center;}

/* 用户卡片 */
.WBM_userCard{}
.WBM_userCard .layer_close{display:none;}
.WBM_userCard .layer_cont{width:400px;overflow:hidden;}
.WBM_userCard .uc_face{float:left;width:140px;height:140px;}
.WBM_userCard .uc_info{float:left;padding:0 10px 0 18px;width:160px;line-height:22px;}
.WBM_userCard .uc_name{height:16px;line-height:16px;padding:3px 0;}
.WBM_userCard .uc_name a{color:#000;}
.WBM_userCard .uc_region{padding:3px 0;}
.WBM_userCard .uc_data{float:left;padding:36px 0 0 0;width:70px;line-height:26px;}
.WBM_userCard .uc_iTit{color:#999;}
.WBM_userCard .uc_iText{color:#666;word-break:break-all;}
.WBM_userCard .uc_loading{padding:20px 0;text-align:center;}
.WBM_userCard .WBM_follow{position:absolute;top:10px;right:10px;}

/* 用户分组 */
.WBM_userGroup{z-index:1001;}
.WBM_userGroup .layer_cont{width:470px;overflow:hidden;_zoom:1;padding:0;}
.WBM_userGroup h3{font-size:14px;text-align:center;color:#000;padding:20px 0 0;line-height:30px;border-bottom:1px dashed #ccc;}
.WBM_userGroup .userInfo{padding:8px 0 8px 30px;}
.WBM_userGroup dl{background:#fdf3f3;padding:10px 0 10px 45px;_zoom:1;overflow:hidden;}
.WBM_userGroup dt{text-align:center;padding:15px 0;}
.WBM_userGroup dd{float:left;width:200px;line-height:20px;padding:4px 0;}
.WBM_userGroup .addGroup{padding-left:45px;color:#999;padding-top:10px;}
.WBM_userGroup .addGroup p{height:30px;}
.WBM_userGroup .btns{text-align:right;padding:10px 30px 20px 0;}
.WBM_userGroup .ug_loading{text-align:center;padding:60px 0 100px;display:none;}

/* 转发窗口 */
.WBM_forward_popup{z-index:1001;}
.WBM_forward_popup .layer_cont{width:490px;padding:15px 20px 10px;overflow:hidden;_zoom:1;}
.WBM_forward_popup .pbl_text textarea{height:60px;width:475px;}
.WBM_forward_popup .pbl_submit a:link,.WBM_forward_popup .pbl_submit a:visited{display:block;width:58px;height:29px;background:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01.png) no-repeat -100px -800px;_background-image:url(http://i0.peopleurl.cn/microblog-v3/images/2013/0227/wb_m_01_b8.png);text-align:center;line-height:29px;color:#fff;}
.WBM_forward_popup .pbl_submit a:hover{background-position:-100px -850px;text-decoration:none;color:#333;}
.WBM_forward_popup .fwd_source_txt{background:#f2f2f2;line-height:22px;padding:5px 10px;word-break:break-all;}
.WBM_forward_popup .fwd_btn_view{float:right;line-height:22px;height:22px;margin-top:-27px;margin-right:10px;_display:inline;}


/* ---- 默认风格 ---- */
body{overflow:hidden}

/* 链接颜色 */
.skin_color_01{color:#333;}
.skin_color_01 a:link,.skin_color_01 a:visited{color:#017aa6;}
.skin_color_01 a:hover{color:#029fda;}

.skin_color_02{color:#999;}
.skin_color_02 a:link,.skin_color_02 a:visited{color:#89aebc;}
.skin_color_02 a:hover{color:#029fda;}

.skin_color_03{color:#666;}
.skin_color_03 a:link,.skin_color_03 a:visited{color:#666;}
.skin_color_03 a:hover{color:#0193c9;}

.skin_color_04{color:#000;}
.skin_color_04 a:link,.skin_color_04 a:visited{color:#000;}
.skin_color_04 a:hover{color:#0193c9;}

.skin_color_05{color:#ccc;}
.skin_color_05 a:link,.skin_color_05 a:visited{color:#818386;}
.skin_color_05 a:hover{color:#0193c9;}

.skin_color_06{color:#333;}
.skin_color_06 a:link,.skin_color_06 a:visited{color:#666;}
.skin_color_06 a:hover{color:#0193c9;}

/* 微博主内容 */
/* 200_760 */
.zwp_main_c2_a{position:relative;z-index:5;}
.zwp_main_c2_a .m_cont{background:#fff url(../image/zwt_m_bg_r_d.png) repeat-y 0 0;}
.zwp_main_c2_a .m_left{position:absolute;top:0;left:0;width:200px;z-index:4}
.zwp_main_c2_a .m_right{position:relative;height:720px;padding:20px 20px 0 220px;overflow-y:auto;}

/*账号切换*/
.ZWT_path{height:35px;background:url(../image/zwt_bg_r_01_d.png) repeat-x 0 -199px;}
.ZWT_path .path_list{width:200px;height:35px;}
.ZWT_path .path_list li{float:left;position:relative;height:35px;padding:0;text-align:center;}
.ZWT_path .path_list a{display:inline-block;width:32px;height:32px;text-align:center;line-height:32px;border:1px solid #14161a;border-left:none}
.ZWT_path .path_list .path_set{width:35px}
.ZWT_path .path_list .path_set a{width:34px}
.ZWT_path .path_list .current{background:url(../image/zwt_bg_r_01_d.png) no-repeat 0 -250px;box-shadow:0 2px 1px #474a52}
.ZWT_path .path_list img{width:16px;height:16px;*margin:8px 0 0;border-bottom:1px solid #1d1f22;box-shadow: 0 0 7px #0798cc}
.ZWT_path .path_list .current img{box-shadow:none}
.ZWT_path .pbl_wbTips{position:absolute;left:50%;top:33px;width:60px;border:1px solid #0f1114;border-radius:2px;background-color:#32353a;margin-left:-31px;z-index:1;height:22px;line-height:22px;color:#00a1dd;box-shadow: inset 0 1px 3px rgba(0,0,0,.4);text-align: center;display:none;}
.ZWT_path .pbl_wbTips .tips_arr{position:absolute;top:-7px;top:-7px\9;_top:-6px;left:25px;font:12px/14px "SimSun";cursor:default;}
.ZWT_path .arr_line1{color:#0f1114;display:inline-block;}
.ZWT_path .arr_line2{position:relative;color:#32353a;left:-12px;top:1px;display:inline-block;}
.ZWT_path .wb_name{position:relative;z-index:2;}
/*账号信息*/
.ZWT_userInfo{padding:25px 25px 20px;text-align:center;}
.ZWT_userInfo .user_face{width:150px;height:150px;box-shadow:0 0 7px rgba(0,0,0,0.8);}
.ZWT_userInfo .user_name{font:16px/20px  Arial, "微软雅黑";padding:20px 0 10px;color:#fff;text-shadow:0 1px 1px #000;}
.ZWT_userInfo .user_ps{overflow:hidden;_zoom:1;padding:10px 0 0;}
.ZWT_userInfo .user_ps dd{width:50px;float:left;display:inline;text-align:center;line-height:14px;}
.ZWT_userInfo .user_ps dd a:hover{text-decoration:none;}
.ZWT_userInfo .user_ps  dd i{font:14px/20px Arial;color:#ddd;display:block;padding-bottom:2px;}

/*左侧导航条*/
.zwp_nav{}
.zwp_nav a{display:block;padding:0 0 0 35px;}
.zwp_nav dt{height:45px}
.zwp_nav dt a:link,.zwp_nav a:visited{font:14px/45px "微软雅黑";height:45px;color:#bcc1c8;border-bottom:1px solid #27292e;background:url(../image/zwt_bg_r_02_d.png) no-repeat 0 0;}
.zwp_nav dt a:hover,.zwp_nav .current dt a{border-bottom:1px solid #1b1d20;color:#fff;background:url(../image/zwt_bg_r_02_d.png) no-repeat 0 -50px;text-decoration:none;}
.zwp_nav .current dt a{background-position: 0 -200px;}
.zwp_nav  span{display:inline-block;padding-left:37px;cursor:pointer;}
.zwp_nav .nav_arr_a{background-position:0 -200px}
.zwp_nav .nav_arr_b{background-position:0 -250px}
.zwp_nav .nav_arr_c{background-position:0 -300px}
.zwp_nav .nav_arr_d{background-position:0 -350px}
.zwp_nav .nav_arr_e{background-position:0 -400px}
.zwp_nav .nav_arr_f{background-position:0 -450px}
.zwp_nav .nav_arr_g{background-position:0 -800px}
.zwp_nav .nav_arr_h{background-position:0 -850px}
.zwp_nav .nav_arr_i{background-position:0 -900px}
.zwp_nav .current .nav_arr_a{background-position:0 -500px}
.zwp_nav .current .nav_arr_b{background-position:0 -550px}
.zwp_nav .current .nav_arr_c{background-position:0 -600px}
.zwp_nav .current .nav_arr_d{background-position:0 -650px}
.zwp_nav .current .nav_arr_e{background-position:0 -700px}
.zwp_nav .current .nav_arr_f{background-position:0 -750px}
.zwp_nav .current .nav_arr_g{background-position:0 -950px}
.zwp_nav .current .nav_arr_h{background-position:0 -1000px}
.zwp_nav .current .nav_arr_i{background-position:0 -1050px}
.zwp_nav .sub_menu a:link,.zwp_nav .sub_menu a:visited{font-weight:700;font:12px/40px "微软雅黑";height:40px; color:#6f747c;text-decoration:none;background:url(../image/zwt_bg_r_02_d.png) no-repeat 0 -150px;border-top:1px solid #191d22;}
.zwp_nav .sub_menu a:hover{color:#e1e1e1}
.zwp_nav .sub_menu .current a{background-position:0 -100px;color:#e1e1e1}
.zwp_nav .sub_menu .nav_arr_a01{background-position:0 -1100px}
.zwp_nav .sub_menu .current .nav_arr_a01{background-position:0 -1150px}


/* 微博列表导航 */
.zwp_listnav{margin:46px 0 0;height:27px;background:url(../image/line_01.png) repeat-x 0 12px}
.zwp_listnav .ln_type{float:left;}
.zwp_listnav .ln_type a:link,.zwp_listnav .ln_type a:visited{float:left;width:62px;height:27px;line-height:24px;*line-height:26px;color:#333;text-align:center;margin-right:15px;background-position: -100px -350px;}
.zwp_listnav .ln_type a:hover{background-position:-200px -350px;color:#333;text-decoration:none;}
.zwp_listnav .ln_type a.selected{background-position:0 -350px;color:#017aa6;}
.zwp_listnav .ln_search{float:right;}
.zwp_listnav .ln_search form{width:182px;height:26px;background-color:#fff;background-position: 100% 0;}
.zwp_listnav .ln_key{border:none;background:none;width:140px;padding:2px 0 2px 13px;line-height:22px;height:22px;color:#aaa;vertical-align:top;}
.zwp_listnav .ln_btn{width:20px;height:24px;border:none;background-position: -500px -50px;vertical-align:top;cursor:pointer;}
.zwp_listnav form.focus{}
.zwp_listnav .focus .ln_key{color:#666;}
.zwp_listnav .focus .ln_btn{background-position:-550px -50px;}

/*分页*/
.wbp_pagelist{text-align:right;padding:20px 0;border-top:1px dashed #ccc;}
.wbp_pagelist span,.wbp_pagelist a:link,.wbp_pagelist a:visited{color:#666;border:1px solid #ddd;line-height:21px;padding:0 8px;display:inline-block;vertical-align:top;}
.wbp_pagelist a:hover{border-color:#e45555;box-shadow:0 0 5px #e45555;text-decoration:none;}
.wbp_pagelist span{color:#999;cursor:default;}
.wbp_pagelist span.selected{background:#cd0e0e;border-color:#ba0101;color:#fff;}

/*其他页面顶部导航*/
.ZWT_subNav .pbl_top{padding:0;}
.ZWT_subNav h3{float:left;font:16px/24px "微软雅黑";}
.ZWT_subNav .wb_access{font:12px/16px "宋体";display:inline-block;border-left:1px dotted #ccc;padding:0 0 0 10px;margin:0 0 0 5px}
.ZWT_subNav .zwp_listnav{margin:0}

/*微博列表分类*/
.wbp_ln_type{}
.ln_type_a{padding:3px 0 10px;border-bottom:1px dashed #ccc}
.ln_type_a a{margin:0 30px 0 0;}
.ln_type_a a.set{font-weight:bold;}


